body{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
  font-size: 25px;
}
button{
  Font-size: 25px;
}
input{
  font-size: 20px;
  height: 2.5rem;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  border: none;
  user-select: none;
}
input:focus{
  outline: none;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}